# OS特有ファイルは対象外
.DS_Store

/code/bin/
/code/coffee/
/code/db.dqlite3
/code/helloworld/
/code/helloworld2/
/code/jumanpp-2.0.0-rc3/
/code/jumanpp-2.0.0-rc3.tar.xz
/code/libexec/

/code/ML/data_src/
/code/ML/migrations/
/code/ML/tests.py
/code/ML/BERT-base_mecab-ipadic-bpe-32k_whole-word-mask/
/code/ML/BERT-base_mecab-ipadic-bpe-32k_whole-word-mask.tar.xz
/code/ML/Japanese_L-12_H-768_A-12_E-30_BPE
/code/ML/japanese_bert.zip



