/code/.DS_Store
/code/.travis.yml
/code/ML/__pycache__/
/code/ML/__init__.py
/code/ML/management/__pycache__/
/code/ML/management/__init__.py
/code/ML/management/__pycache__/
/code/ML/management/__init__.py

