django==2.2.24
requests==2.22.0
beautifulsoup4==4.8.2
tqdm==4.42.1
janome==0.3.10
scikit-learn==0.22.1
numpy==1.18.1
gensim==3.8.1
pycodestyle==2.5.0
pep8==1.7.1
torch==1.4.0
mojimoji==0.0.9.post0
pandas==1.0.1
logzero==1.5.0
transformers==2.4.1
torchtext==0.5.0
mecab-python3==0.996.3
